/* FOOTER */

footer{
    background-color: #70a5d3;
    color: white;
    margin: 0 auto;
    padding: 10px;
    text-align: end;
    text-decoration: none;
    #img-fluid{
        display: block ;
        width: 65px;
    }
}

.footer1{
    list-style:none
}
