/* PIMERA SECCION CONOCENOS*/

.tituloconocenos{
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
    color: black;
    & h1{
        background-color: #364552;
        color: rgb(219, 213, 213);
    }
    & .color3{
    
        font-size: 20px;
        text-align: center;
        background-color: aliceblue;
        color: black;
    }
    
}

/* SEGUNDA SECCION CONOCENOS */
.segundotitulo2{
    
    font-size: 20px;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    & h2{
        background-color: #364552;
        color: rgb(219, 213, 213);
    text-align: start;
    padding: 20px;
    }
    & .color3{
        
    color: black;
    margin-left: 10px;
    text-align: start;
    }
    & .compromisos{
        
    color: black;
    margin: 15px;
    padding: 0;
    }
}

/* TERCERA SECCION */
#boton1{
    box-sizing: border-box;
    display: block;
}

/* CUARTA SECCION */

.volver{
    background-color: #364552;
    margin: auto;
    padding: 10px;
    
    .ir {
        text-decoration: none;
        color: white;
    }

}

/* FIN SECCIONES */