/* INDEX */
*{
    margin: 0;
    padding: 0;
}

.bg-lukas{
    background-color:  #70a5d3;
}



h1{
    background-color: rgb(125, 129, 138);
    color: black;
}

h2{
    background-color: rgb(125, 129, 138);
    text-align: start;
    padding: 20px;
}

.titulo {
    font-size: 25px;
    text-align: center;
    margin: 0 auto;
}

.entrenamiento{
    font-size: 25px;
    background-color: aliceblue;
    color: black;
    margin:10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    border: double 2px black;
    margin-left: -25px;
}

.img-fluid{
    width: 500px;
    margin: 5px
    
}

.volver{
    background-color: #364552;
    margin: auto;
    padding: 10px;

}

.ir {
    text-decoration: none;
    color: white;
}


footer{
    background-color: #70a5d3;
    color: white;
    margin: 0 auto;
    padding: 10px;
    text-align: end;
    text-decoration: none;

}

.footer1{
    list-style:none
}

/* CONOCENOS */

.tituloconocenos {
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
    color: black;
}

.parrafo1 {
    font-size: 20px;
    text-align: center;
    background-color: aliceblue;
    color: black;
}

.imagenconocenos {
    width: 900px;
    height: 600px;
    margin-left: 250px;
}

.segundotitulo2 {
    font-size: 20px;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

.parrafo2 {
    background-color: aliceblue;
    color: black;
    margin-left: 10px;
    text-align: start;
  
}

.compromisos {
    background-color: aliceblue;
    color: black;
    margin: 25px;
    padding: 0;

}

#img-fluid {
    display: block ;
    width: 65px;
    
}

/* ACTIVIDADES */

.tituloactividades {
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
    color: black;
}

.actividades3 {
    font-size: 20px;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    margin-left: -25px;
}

.tituloact {
    font-size: 25px;
    background-color: aliceblue;
    color: black;
    margin: 3px;
    padding: 3px;
    display: flex;
    justify-content: center;
    border: double 2px black;
}

.explicando {
    background-color: aliceblue;
    color: black;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.explicandoimg{
    width: 500px;
    margin-left: 450px;
}

/* Servicios */

.tituloservicios {
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
    color: black;
}

.actividadesycostos {
    font-size: 20px;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    margin-left: -25px;
}

.tituloplan {
    font-size: 25px;
    background-color: aliceblue;
    color: black;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    border: double 2px black;
}

.costosimg {
    width: 500px;
    height: 350px;
}

/* Contacto */

.titulocontacto {
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
    color: black;
}

.contactanos{
    margin: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 15px;
    background-color: aliceblue;
    color: black;
    text-align: center;
}

/* Transformacion */
.nav-link:hover{
    transform: scale(1.5);
}